.errors {
    color: red;
    display: inline-block;
}

.create-spot-form {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
}

.city-state {
    display: flex;
    text-align: left;
    justify-content: flex-start;
    gap: 10px;
    width: 97%;
}

.create-spot-form label {
    display: block;
    margin-bottom: 5px;
}

.create-spot-form input {
    margin-bottom: 15px;
    width: 100%;
}

.lat-lng {
    display: flex;
    text-align: left;
    justify-content: flex-start;
    gap: 10px;
    width: 97%;
}

.description-input-box, .description-label {
    width: 98%;
    height: 100px;
    resize: none;
    font-size: 12pt;
}

.long-label, .long-input, .lat-lng-label {
    width: 97%;
}

.city-label, .city-input {
    width: 150%;
}

.state-label, .state-input {
    width: 98%;
}

.create-spot-form h2 {
    font-size: 20pt;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.create-spot-form h1 {
    font-size: 30pt;
}

.create-spot-form p {
    font-size: 15pt;
    margin: 0;
    margin-bottom: 10px;
}

.create-spot-form input {
    height: 25px;
    font-size: 12pt;
    border: 2px solid black;
}

.create-spot-form label {
    font-size: 15pt;
}

.description-input-box {
    border: 2px solid black;
}

.name-label {
    width: 97%;
}

.price-label {
    display: flex;
    width: 100%;
}

.dollar-sign {
    font-size: 20pt;
    margin-right: 10px;
}

.price-input {
    width: 98%;
    margin-bottom: 0px !important;
}

.price {
    display: flex;
}

.image-label {
    width:97%;
}

.create-image-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.line {
    border-top: 2px solid black;
}

.create-spot-button {
    background-color: #23588d;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    width: 150px;
}

.create-spot-button:hover {
    background-color: #1a3f6c;
}

.button-container {
    align-items: center;
}