.descrip-price {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.description-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.price-reserve-box {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 150px;
    border: 3px solid black ;
    border-radius: 10px;
}

.price-reviews {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
}

.price, .raiting-reviews {
    font-weight: bold;
    font-size: 14pt;
    align-items: center;
}

.raiting-reviews {
    padding-top: 5px;
}

.button {
    padding: 10px;
}

.reserve-button {
    width: 100%;
    padding: 10px;
    background-color: #23588d;
    color: white;
    box-shadow: 2px 2px 2px black;
}

.reserve-button:hover {
    cursor: pointer;
    background-color: #1f4e78;
}

.spot-name, .owner-name {
    font-size: 30pt;
}

.description {
    font-size: 20pt;
}

.image-container {
    display: flex;
    width: 96.5%;
    padding: 25px;
    gap: 20px;
    height: 500px;
    flex-direction: row;
}

.main-image {
    flex: 1;
    max-width: 50%;
}

.main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.image-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.image-grid img {
    width: 97%;
    height: 245px;
    object-fit: cover;
    border-radius: 5px;
}


.review-container {
    display: flex;
    flex-direction: column;
    width: 97.5%;
    padding: 25px;
}

.create-review-button {
    width: 200px;
    padding: 10px;
    background-color: #23588d;
    color: white;
    box-shadow: 2px 2px 2px black;
}

.create-review-button:hover {
    cursor: pointer;
    background-color: #1f4e78;
}

.delete-button {
    width: 100px;
    padding: 10px;
    background-color: #23588d;
    color: white;
    box-shadow: 2px 2px 2px black;
}

.delete-button:hover {
    cursor: pointer;
    background-color: #1f4e78;
}

.update-delete {
    display: flex;
    justify-content: space-between;
    width: 210px;
}

.review-text {
    font-size: 14pt;
    padding: 10px;
}